@import url('https://fonts.googleapis.com/css2?family=KoHo&family=Open+Sans&family=Poppins&family=Righteous&family=Rubik&display=swap');

:root {
    --accent:#25B3A3;
    --text:#D2EEEB;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family:'open sans', sans-serif;
    background-color:#16222D;
}

#sidebar {
    background-color:#0B1116;
    font-family:poppins, sans-serif;
    color:var(--text);
    font-size:18px;
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    position:fixed;
    width:225px;
    z-index:100;
    box-shadow:0px 0px 25px 1px #131313
}

#sidebar div {
    font-family:righteous, sans-serif;
    font-size:36px;
    position:absolute;
    top:50px;
}

#sidebar div span {
    color:var(--accent);
}

#sidebar a {
    text-decoration: none;
    color:var(--text);
    ;
}

#sidebar li {
    border-left:3px solid rgba(0,0,0,0);
    padding-left:15px;
    padding-right:15px;
    list-style: none;
    transform:translateX(-5px);
    transition:box-shadow 0.4s ease-out;
}

#sidebar li.active {
    border-color:var(--accent);
}

#sidebar li:hover {
    box-shadow:inset 6.5em 0 0 0 var(--accent);
}

#sidebar ul {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:25px;
}

nav {
    display:flex;
    justify-content: center;
    align-items:center;
}


main {
    margin-left:225px;
    
}

main-container {
    display:flex;
    flex-direction: column;
    align-items:center;
    width:85%;
    max-width:1400px;
}

.splash {
    /*background-color: #0C0F11;*/
    background-color:#07090a;
    height:100vh;
    color:white;
    font-family:poppins, sans-serif;
    font-size:26px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #2C4459 0%, #16222D 100%), #C4C4C4;
    background-color:white;
}

#changing-text {
    color:var(--accent);
    font-size:70px;
    height:111px;
    font-family:Koho, sans-serif;
    padding: 0px 6px;
    line-height: 1.5;
    animation: typeFlash 0.8s infinite;
}

@keyframes typeFlash {
    from, to {
        border-right:2px solid var(--accent);
      }
      50% {
        border-right:2px solid transparent;
      }
  }


/********************************************************
*                   PROJECTS SECTION                    *
********************************************************/

#projects {
    background-color: #16222D;
    color:var(--text);
    display:flex;
    justify-content: center;
    margin:50px 0px;
   
}

.filter-container {
    display:flex;
}

#projects button {
    font-family:Poppins, sans-serif;
    font-size:14px;
    color:var(--text);
    background-color:#0B1116;
    border:none;
    outline:none;
    border-radius: 50px;
    padding:0px 10px;
    margin-left:10px;
    cursor:pointer;
}

#projects .selected {
    background-color:var(--accent);
    color:#f9f9f9;
}

#projects .selected:hover {
    outline:none;
}

#projects button:hover {
    outline:solid 1px var(--accent);
}

.projects-container {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    gap:50px;
    margin:75px 0px;
}

.project-card {
    width:350px;
    height:475px;
    background-color:#0D141A;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    box-shadow: 0px 0px 15px 0px #0B1116;
    opacity:0;
    transform:translateY(20);
}

.project-card:hover {
    transform:translateY(-3px);
}

.project-image, .project-card img {
    width:310px;
    height:180px;
    border-radius:15px;
    background-color:var(--accent);
}

.project-card img {
    object-fit:cover;
    mix-blend-mode: hard-light;
}

.project-image:hover {
    background-color:transparent;
}

.project-card img:hover {
    mix-blend-mode:normal;
}

.project-name {
    color:var(--accent);
    font-family:Koho, sans-serif;
    font-size:24px;
}

.project-card p:nth-of-type(2) {
    font-size: 15px;
    line-height: 1.55;
}

.project-links {
    width:100%;
    display:flex;
    justify-content: space-between;
    font-weight:bold;
}

.project-links a {
    color:var(--accent);
    font-family: Poppins, sans-serif;
    text-decoration: none;
    font-size:14px;
}

.project-links a:hover {
    color:#64cfc3;
    
}
