@import url('https://fonts.googleapis.com/css2?family=KoHo&family=Open+Sans&family=Poppins&family=Righteous&family=Rubik&display=swap');

:root {
    --accent:#25B3A3;
    --text:#D2EEEB;

}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family:'open sans', sans-serif;
    background-color:black;
}

#sidebar {
    background-color:#0B1116;
    font-family:poppins, sans-serif;
    color:var(--text);
    font-size:18px;
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    position:fixed;
    width:225px;
    z-index:100;
    box-shadow:0px 0px 25px 1px #131313
}

#sidebar div {
    font-family:righteous, sans-serif;
    font-size:36px;
    position:absolute;
    top:50px;
}

#sidebar div span {
    color:var(--accent);
}

#sidebar a {
    text-decoration: none;
    color:var(--text);
    ;
}



#sidebar li {
    border-left:3px solid rgba(0,0,0,0);
    padding-left:15px;
    padding-right:15px;
    list-style: none;
    transform:translateX(-5px);
    transition:box-shadow 0.4s ease-out;
}

/*Giving the current page an accent*/
#sidebar li:first-of-type {
    border-color:var(--accent);
}

#sidebar li:hover {
    box-shadow:inset 6.5em 0 0 0 var(--accent);
}

#sidebar ul {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:25px;
}

nav {
    display:flex;
    justify-content: center;
    align-items:center;
}


main {
    margin-left:225px;
}

.splash {
    /*background-color: #0C0F11;*/
    background-color:#07090a;
    height:100vh;
    color:white;
    font-family:poppins, sans-serif;
    font-size:32px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #2C4459 0%, #16222D 100%), #C4C4C4;
    background-color:white;
}

#changing-text {
    color:var(--accent);
    font-size:70px;
    height:111px;
    font-family:Koho, sans-serif;
}

section {
    min-height:500px; /*For testing, delete later*/
}